.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/wallpaperprinc.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.login-container h1 {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 2rem;
    font-weight: 600;
}

.login-form {
    width: 450px;
    padding: 30px;
    background-color: #6356E4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-error {
    text-align: center;
    color: rgb(199, 5, 5);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.auth, .voltar {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    color: #FFF;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

.form-control input {
    box-sizing: border-box;
    border: 2px solid #000;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.form-control input:focus {
    outline: none;
    border-color: #6c63ff;
}


